/bootstrap/*/
/bootstrap/*.*
**/__pycache__
**/migration
*.DS_Store
**/.vscode
*.cache
*test.py
**/site_env
**/site_env/*
*test.bash
**/StanfordAlpaca
**/node_modules
npmLibs.css
files/**
assets/static/admin
assets/static
cert
pkgs/nodeModules
**.sqlite3